a[role="button"], button {
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--background-color);
  color: var(--link-color);
  &:before {
    color: var(--color);
    content: "[";
  }
  &:after {
    color: var(--color);
    content: "]";
  }

  &:focus {
    &:before {
      content: "|";
    }
    &:after {
      content: "|";
    }
  }
}
